* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.MuiTabs-root .MuiTabs-vertical .css-35zqo5-MuiTabs-root {
  display: table;
}
.TabData {
  width: 100%;
  overflow-y: auto;
  height: 600px;
  /* background-image: url('https://media.istockphoto.com/id/470604022/photo/apple-tree-without-flowers-or-fruit-isolated-on-white.jpg?s=612x612&w=is&k=20&c=bIf7yWLhsD2yWU-7Oyg_BQhx5wANSalYkfJiUFojhdg='); */
}
.adot_a_tree {
  position: absolute;
  width: 667px;
  height: 422px;
  left: 259px;
  top: 126px;
}
/* .TabData :hover{
  background-color: rgb(150, 144, 238);
  background-image: unset;
} */
.Donor .MuiTabs-scroller button {
  height: 100px;
  font-size: 2rem;
  width: 250px;
  text-align: start;
  justify-content: flex-start;
}
.my-impact-main-flex {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}
.ag-chart-wrapper {
  width: 40% !important;
}
.css-h0q0iv-MuiButtonBase-root-MuiTab-root > .MuiTab-iconWrapper {
  margin-right: 8px;
  font-size: 2.5rem;
}
.Admin .MuiTabs-scroller button {
  height: 88px;
  width: 250px;
  font-size: 2rem;
  text-align: start;
  justify-content: flex-start;
}
label {
  font-family: "Rubik", sans-serif;
}
.Planter .MuiTabs-scroller button {
  height: 100px;
  width: 250px;
  font-size: 2rem;
  text-align: start;
  justify-content: flex-start;
}
.App-link {
  color: #61dafb;
}
.Donor .Mui-selected {
  background-color: #80b98b;
}
.Admin .Mui-selected {
  background-color: #80b98b;
}
.Planter .Mui-selected {
  background-color: #80b98b;
}
.width50 {
  width: 50%;
  margin: 10px;
}
/* .combination-of-label-and-dropdown {
  display: inline-flex;
  width: 80%;
  margin: 10px;
} */

.combination-of-label-and-dropdown.combination-of-label-and-dropdown-space-even {
  justify-content: space-evenly;
  margin-top: 3rem;
}

.box-class {
  color: #2e7d32;
}

.otp-label {
  margin-left: -85px;
}

.space-around-div {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.MuiTabs-root {
  display: table !important;
}

.CarbonCalcContainer .various-pollution-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6fcf5;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 8.4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #099268;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #087f5b;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #099268;
}
***************** * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6fcf5;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 8.4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #099268;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #087f5b;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #099268;
}

.section-hero {
  background-color: #e6fcf5;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #e6fcf5;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #099268;
  font-weight: 700;
}

.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0 12.8rem 0; */

  /* top / horizontal / left */
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #099268, #087f5b);
  overflow: hidden;
}

.cta-text-box {
  padding: 2.4rem 4.8rem 4.8rem 4.8rem;
  color: #02261b;
}

.cta .heading-secondary {
  /* color: #02261b; */
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(219, 230, 219, 0.5);
}

.my-impact-main-flex {
  display: flex;
  flex-direction: column;
}

.my-impact-main-flex div {
  background-image: linear-gradient(to right bottom, #ebfbee, #ebfbee);
  overflow: hidden;
}

.my-impact-exact-results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.8rem;
  padding-top: 0rem;
}

.my-impact-exact-results-main-value {
  color: #e67e22;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.my-impact-exact-results-main-text {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.impact-container {
  padding: 0 1.2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.2rem;
}

.contained-feature-tabs {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  background-image: linear-gradient(to right bottom, #ebfbee, #ebfbee);
  overflow: hidden;
}

.contained-feature-tabs div {
  padding: 1.5rem 1rem;
}

.contained-feature-tabs div:last-child {
  padding: 0 0;
  flex-grow: 1;
}

.featured-header {
  color: inherit;
  margin-bottom: 3.2rem;
}

.grid-feature-tabs {
  grid-template-rows: 2fr 1fr 1fr 4fr;
  row-gap: 1rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #087f5b;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

********************** .CarbonCalcContainer .various-pollution-flex div {
  background-image: linear-gradient(to right bottom, #ebfbee, #ebfbee);
  overflow: hidden;
}
.CarbonCalcContainer .total-value-grouped {
  margin-left: 10px;
}

.CarbonCalcContainer .electricity-pollution-flex {
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  padding: 1.2rem 0;
}

.CarbonCalcContainer .icon-margin {
  margin: 0 auto;
}

.CarbonCalcContainer .input-class,
.CarbonCalcContainer .select-vehicle {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.CarbonCalcContainer .label-class {
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.7rem;
}

.CarbonCalcContainer .label-class-inline {
  display: inline;
}

.CarbonCalcContainer .combination-of-label-and-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3.2rem;
}

.CarbonCalcContainer .electricity-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  padding: 0 1rem;
}

.CarbonCalcContainer .travel-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  padding: 0 1rem;
}

.CarbonCalcContainer .travel-flex-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16rem;
  padding: 0 1rem;
}

.CarbonCalcContainer .icons-2-dev {
  display: flex;
  margin: 0 auto;
  gap: 0.5rem;
}

.cta {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #099268, #087f5b);
  overflow: hidden;
}
.AddPlots {
  width: 50%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}
.ProfileData {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  margin: 10px;
}
.cta .combination-of-label-and-dropdown {
  margin: 0px 30px 0;
}

.cta .heading-secondary {
  color: inherit;
}
.Plotscontainer {
  display: flex;
}
.Plotscontainer .cta-text-box {
  background-color: white;
}

.cta-plot-info {
  display: grid;
  grid-template-columns: 1fr;
}
.AddPlots .combination-of-label-and-dropdown {
  margin: 10px;
  justify-content: unset;
  font-size: 1.6rem;
}
.combination-of-label-and-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.locateIcon {
  margin-left: 20px;
  margin-top: -10px;
  color: blue;
  cursor: pointer;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(149, 240, 183, 0.394),
      rgba(56, 244, 106, 0.35)
    ),
    url("./public/FarmLandCoconut.jpg");
  background-size: cover;
  background-position: center;
}
.cta-input {
  width: 50%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #bfc8c0;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.LoginRect0 {
  /* Rectangle 3 */

  box-sizing: border-box;

  /* Rectangle 1 */

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #d9d9d9;
}
.PhoneNumberTitle {
  /* Mobile Number */

  width: 200px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  align-items: flex-start;
  align-content: flex-start;
  display: inline-block;
  margin: 10px;
  text-align: left;

  color: #28472d;
}
.LoginRect1 {
  /* Rectangle 2 */

  position: absolute;
  left: 0%;
  right: 50%;
  top: 0%;
  bottom: 0%;
  background-size: contain !important;
  background: url(public/GlobalImageSignUp.png) no-repeat;
}
.LoginRect2 {
  /* Rectangle 3 */

  box-sizing: border-box;

  position: absolute;
  left: 50%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  text-align: center;
  background: #ffffff;
  border: 1px solid #28472d;
}

.LoginText {
  /* Welcome back */

  /* Welcome back */

  top: 6.38%;
  bottom: 85.2%;

  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;

  display: inline-block;
  margin-bottom: 5rem;

  color: #28472d;
}
.PhoneNumberInput {
  /* Rectangle 4 */
  /* Rectangle 4 */

  box-sizing: border-box;

  width: 200px;
  background: #f5f5f5;
  border: 1px solid #28472d;
  border-radius: 20px;
  margin: 10px;
}
.LoginSection {
  /* position: fixed; */
  top: 20%;
}
input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  background-image: linear-gradient(to right bottom, #ebfbee, #ebfbee);
  overflow: hidden;
}

.select-add-plot {
  width: 50%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #bfc8c0;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.label-add-plot {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.FOrMargin {
  margin-top: 5rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--form {
  background-color: #244029;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.combination-of-label-and-dropdown-try {
  display: flex;

  align-items: center;
  flex-wrap: nowrap;
  gap: 3.2rem;
}

.submit-button-add-plot {
  display: flex;
  justify-content: center;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--form {
  background-color: #244029;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}
